.graphSize {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  margin-top: 60px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment {
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 450px) {
  .graphSize {
    height: 35vh;
    margin-top: 60px;
  }
}
