.graphSize {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment {
  max-width: 500px;
  margin: 0 auto;
}
