.center {
  text-align: center;
  font-family: Arial, sans-serif;
}

.textarea {
  width: 80%;
  height: 50px;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none;
  background-color: #f1f0f0;
}

.button {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
}

.sendButton,
.saveButton,
.backButton {
  height: 40px;
  width: 80px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

.sendButton,
.saveButton,
.backButton:hover {
  cursor: pointer;
}

.sendButton {
  background-color: #e2f72a;
}

.saveButton {
  background-color: darkorange;
}

.backButton {
  background-color: rgb(234, 143, 250);
}

.history {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.message {
  margin-bottom: 15px;
}

.userMessage,
.botMessage {
  padding: 15px;
  border-radius: 10px;
  max-width: 80%;
  margin: 0 auto;
  line-height: 1.5;
  font-size: 14px;
  word-wrap: break-word;
}

.userMessage {
  text-align: left;
  background-color: #f0f8ff;
  border: 1px solid #cce4ff;
}

.botMessage {
  text-align: left;
  background-color: #e0ffe0;
  border: 1px solid #b2ffb2;
  margin-top: 10px;
}

.h2 {
  font-size: 24px;
  margin-top: 20px;
}

.textarea:focus,
.button:focus {
  outline: none;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.scrollContainer {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.loading {
  max-width: 80%;
  margin: 0 auto;
  background-color: rgb(249, 145, 145);
}

.error {
  color: red;
}
