.title {
  margin: 50px auto;
}

.userForm {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(244, 243, 243);
}

.user {
  margin-left: 50px;
  margin-bottom: 10px;
}

.userInput {
  width: 200px;
}

.nameLabel {
  margin-right: 52px;
}

.idLabel {
  margin-right: 114px;
}

.mailLabel {
  margin-right: 20px;
}

.backButton {
  margin: 30px auto;
}

.hearing {
  display: flex;
  justify-content: center;
}

.hearingForm {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  margin: 0 auto;
}

.hearingGoal {
  margin-right: 10px;
}

.hearingDaily {
  margin-right: 10px;
}

.hearingTime {
  margin-right: 10px;
}

.hearingProcedure {
  margin-right: 10px;
}

.hearingInput {
  width: 300px;
  margin-right: 50px;
}
