.taskList {
  padding: 16px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  /* height: 100vh; */
  max-height: 800px;
  flex-direction: column;
  align-items: center;
}

.taskCardContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
  width: 100%;
  max-height: 490px;
  overflow-y: auto;
  margin-top: 20px;
}

.taskCard {
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: rgb(188, 249, 229);
}

.taskCard h3 {
  margin: 0 0 8px;
}

.taskCard p {
  margin: 0;
}

.back {
  margin-top: 30px;
}

.delete {
  margin-left: 50px;
}

.taskComment {
  margin: 0 auto;
}
