.taskList {
  padding: 16px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  /* height: 100vh; */
  flex-direction: column;
  align-items: center;
}

.taskCardContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 500px;
  width: 100%;
  max-height: 370px;
  overflow-y: auto;
  margin-top: 20px;
}

.taskCard {
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.completed {
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.pending {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.taskCard h3 {
  margin: 0 0 8px;
}

.taskCard p {
  margin: 0;
}

.back,
.report {
  margin-top: 30px;
  /* margin-right: 50px; */
  height: 40px;
  width: 100px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
}

.back {
  background-color: rgb(234, 143, 250);
}

.report {
  background-color: aqua;
  margin-left: 30px;
}

.analyticsComment {
  margin: 0 auto;
}
