.menu {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.menu1,
.menu2,
.menu3,
.menu4,
.menu5 {
  border-radius: 10px;
  width: 100px;
  height: 50px;
}

.menu1:hover,
.menu2:hover,
.menu3:hover,
.menu4:hover,
.menu5:hover {
  cursor: pointer;
}

.menu1 {
  background-color: turquoise;
}

.menu2 {
  background-color: antiquewhite;
}

.menu3 {
  background-color: rgb(180, 198, 247);
}

.menu4 {
  background-color: lightpink;
}

.menu5 {
  background-color: rgb(244, 246, 197);
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  width: 100px;
  height: 50px;
  color: black;
}

.link:hover {
  background-color: #d1d0d0;
  border-radius: 10px;
}

.icon {
  margin: 0 auto;
  font-size: 20px;
  margin-bottom: 5px;
}

@media screen and (max-width: 450px) {
  .menu {
    display: block;
    position: relative;
    top: -70px;
  }

  .menu1,
  .menu2,
  .menu3,
  .menu4,
  .menu5 {
    margin: 10px auto;
    width: 250px;
  }

  .icon,
  .link {
    margin: 0 auto;
  }

  .link {
    width: 250px;
  }
}
